.y-gwt-ClickableLink {
	color: blue;
	cursor: pointer;
	cursor: hand;
	font-family: helvetica, arial sans-serif;
	font-size: 11pt;
}

.y-gwt-AbstracttatusPanel {
	width:100%;
}

/* Logo Image*/
.y-gwt-AbstractStatusPanel-LogoImage {
	height:55px;
	width:180px;
}
.y-gwt-ResponseStatusBar {
	background-color: #FFA54F;
}

.y-gwt-LoginPanel {
	background-color: #88ACE0;
}

.y-gwt-ErrorMessage {
	font-size: 8pt;
	color: red;
}

.gwt-Button {
	font-size: 10pt;
}

.gwt-SuggestBox {
	border: 1px solid #666;
	text-align: left;
}

.gwt-SuggestBoxPopup {
	text-align: left;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #666;
	border-top: 0;
	background-color: #E8E8E8;
}

.gwt-SuggestBoxPopup .item {
	border: 1px dotted #aaa;
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: #E8E8E8;
}

.y-gwt-SideBarComposite {
	border: 2px solid #88ACE0;
	width: 240px;
}

.y-gwt-OptionsComposite {
	border: 2px solid #88ACE0;
}

.y-gwt-SearchDisclosurePanel {
	border: 1px solid #88ACE0;
	background-color: #E5E5E5;
	width: 100%;
}

.gwt-DatePicker {
	background-color: #C3D9FF;
	color: #112ABB;
	width: 165px;
}

.gwt-DatePickerPopup .datePickerMonth {
	width: 165px;
	color: #112ABB;
	font-size: 8pt;
	font-weight: bold;
	font-family: Verdana;
	text-align: center;
	cursor: pointer;
}
.y-gwt-Spacing{
padding: 4px;
}
.y-gwt-FindWidget-Panel{

}
.y-gwt-FindWidget-TextBox {

}
.y-gwt-FindWidget-Button {

}
/* date widget css*/
.gwt-DatePicker {
  border: 1px solid #A2BBDD;
  cursor: default;
}

.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none
}

.datePickerMonthSelector td:focus {
  outline: none
}

.datePickerDays {
  width: 100%;
  background: white;
}

.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 75%;
  text-align: center;
  padding: 4px;
  outline: none;
}

.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  background: #C3D9FF;
  padding: 0px 4px 2px;
  cursor: default;
}

.datePickerDay {
  padding: 4px;
  cursor: hand;
  cursor: pointer;
}

.datePickerDayIsToday {
  border: 1px solid black;
  padding: 3px;
}

.datePickerDayIsWeekend {
  background: #EEEEEE;
}

.datePickerDayIsFiller {
  color: #888888;
}

.datePickerDayIsValue {
  background: #aaccee;
}

.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}

.datePickerDayIsHighlighted {
  background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
  background: #bbddd9;
}

.datePickerMonthSelector {
  background: #C3D9FF;
  width: 100%;
}

.datePickerPreviousButton,
.datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  color: blue;
  cursor: hand;
  cursor: pointer;
  padding: 0px 4px;
}

td.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-size: 70%;
  font-weight: bold;
  color: blue;
}

.gwt-DateBox input {
  width: 8em;
}

.dateBoxFormatError {
  background: #ffcccc;
}

.dateBoxPopup {
}
/* end date widget css*/