.y-gwt-ClickableLink {
    color: black;
    cursor: pointer;
    cursor: hand;
    font-family: helvetica, arial sans-serif;
    font-size: 11pt;
}

.y-gwt-AbstracttatusPanel {
    width:100%;
}

/* Logo Image*/
.y-gwt-AbstractStatusPanel-LogoImage {
    height:55px;
    width:180px;
}
.y-gwt-ResponseStatusBar {
    background-color: #FFA54F;
}

.y-gwt-LoginPanel {
    background-color: #88ACE0;
}

.y-gwt-ErrorMessage {
    font-size: 8pt;
    color: red;
}

.gwt-Button {
    font-size: 10pt;
}

.gwt-SuggestBox {
    border: 1px solid #666;
    text-align: left;
}

.gwt-SuggestBoxPopup {
    text-align: left;
    cursor: pointer;
    cursor: hand;
    border: 1px solid #666;
    border-top: 0;
    background-color: #E8E8E8;
}

.gwt-SuggestBoxPopup .item {
    border: 1px dotted #aaa;
}

.gwt-SuggestBoxPopup .item-selected {
    background-color: #E8E8E8;
}

.y-gwt-SideBarComposite {
    border: 2px solid #88ACE0;
    width: 240px;
}

.y-gwt-OptionsComposite {
    border: 2px solid #88ACE0;
}

.y-gwt-SearchDisclosurePanel {
    border: 1px solid #88ACE0;
    background-color: #E5E5E5;
    width: 100%;
}


.y-gwt-Spacing{
    padding: 4px;
}
.y-gwt-FindWidget-Panel{

}
.y-gwt-FindWidget-TextBox {

}
.y-gwt-FindWidget-Button {

}
